<br/>
<br/>
<br/>
<br/>
<h2 class="mt-8">Administração de Cadastros</h2>
<br/>
<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <div class="card h-100">
      <img id="imgUsuario" src="cadusuario.png" class="card-img-top" alt="Cadastro de Usuário">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Usuários</h5>
        <p class="card-text">Realize o cadastro dos Usuários do sistema</p>
        <a href="/searchcar/usuarios/add"><button class="btn btn-success">Cadastrar</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img id="imgMarca" src="iconemarca.jpg" class="card-img-top" alt="Cadastro de Marca de Veículo">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Marca</h5>
        <p class="card-text">Realize a manutenção do cadastro de Marcas do sistema</p>
        <a href="/searchcar/marcas/add"><button class="btn btn-success">Cadastrar</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img id="imgModelo" src="iconemodelo.jpg" class="card-img-top" alt="Cadastro de Modelo de Veículo">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Modelos</h5>
        <p class="card-text">Realize a manutenção do cadastro de Modelos do sistema</p>
        <a href="/searchcar/modelos/add"><button class="btn btn-success">Cadastrar</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img id="imgVeiculo" src="iconeveiculo.png" class="card-img-top" alt="Cadastro de Veículo">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Veículos</h5>
        <p class="card-text">Realize a manutenção do cadastro de Veículos do sistema</p>
        <a href="/searchcar/veiculos/add"><button class="btn btn-success">Cadastrar</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img id="imgRevendedor" src="revendedor.png" class="card-img-top" alt="Cadastro de Revendedor">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Revendedores</h5>
        <p class="card-text">Realize a manutenção do cadastro de Revendedores do sistema</p>
        <a href="/searchcar/revendedores/add"><button class="btn btn-success">Cadastrar</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img id="imgEstado" src="iconeestados.png" class="card-img-top" alt="Cadastro de Estados">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Estados</h5>
        <p class="card-text">Realize a manutenção do cadastro de Estados da Federação do sistema</p>
        <a href="/searchcar/estados/add"><button class="btn btn-success">Cadastrar</button></a>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img id="imgCidade" src="iconecidade.png" class="card-img-top" alt="Cadastro de Cidades">
      <div class="card-body">
        <h5 class="card-title">Cadastro de Cidades</h5>
        <p class="card-text">Realize a manutenção do cadastro de Cidades do sistema</p>
        <a href="/searchcar/cidades/add"><button class="btn btn-success">Cadastrar</button></a>
      </div>
    </div>
  </div>

</div>