<br/>
<br/>
<br/>
<br/>
<h2 class="mt-8">Cadastro de Veículos</h2>
<div class="card mt-4">
    <div class="card-body">
        <br/>
        <form action="/app/veiculos" method="post">
            <select class="custom-select my-1 mr-sm-2 mt-2" id="idMarca" name="idMarca">
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            url: "/app/marcas",
                            type: 'GET',
                            contentType: 'application/json',
                            success: function(dataset) {
                                var selectMarcas = $("#idMarca");
                                selectMarcas.find("option").remove();
                                $('<option>').val('Marca').text('Marca').appendTo(selectMarcas);
                                $.each(dataset, function(chave, valor) {
                                    $('<option>').val(valor.id).text(valor.nome).appendTo(selectMarcas);
                                })
                            }
                        });
                    });                    
                </script>
            </select>
            <select class="custom-select my-1 mr-sm-2 mt-2" id="idModelo" name="idModelo">
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            url: "/app/modelos",
                            type: 'GET',
                            contentType: 'application/json',
                            success: function(dataset) {
                                var selectModelos = $("#idModelo");
                                selectModelos.find("option").remove();
                                $('<option>').val('Modelo').text('Modelo').appendTo(selectModelos);
                                $.each(dataset, function(chave, valor) {
                                    $('<option>').val(valor.id).text(valor.nome).appendTo(selectModelos);
                                })
                            }
                        });
                    });                    
                </script>
            </select>
            <input type="text" id="ano" name="ano" placeholder="Ano" class="form-control mt-2"/>
            <input type="text" id="cor" name="cor" placeholder="Cor" class="form-control mt-2"/>
            <input type="text" id="motor" name="motor" placeholder="Motor" class="form-control mt-2"/>
            <select class="custom-select my-1 mr-sm-2 mt-3" id="combustivel" name="combustivel">
                <option value="1">Combústivel</option>
                <option value="2">Flex</option>
                <option value="3">Gasolina</option>
                <option value="4">Alcool</option>
                <option value="5">Diesel</option>
            </select>
            <select class="custom-select my-1 mr-sm-2 mt-2" id="idEstado" name="iEstado">
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            url: "/app/estados",
                            type: 'GET',
                            contentType: 'application/json',
                            success: function(dataset) {
                                var selectEstados = $("#idEstado");
                                selectEstados.find("option").remove();
                                $('<option>').val('Estado').text('Estado').appendTo(selectEstados);
                                $.each(dataset, function(chave, valor) {
                                    $('<option>').val(valor.id).text(valor.descricao).appendTo(selectEstados);
                                })
                            }
                        });
                    });                    
                </script>
            </select>
            <select class="custom-select my-1 mr-sm-2 mt-2" id="idCidade" name="idCidade">
                <script>
                    $(document).ready(function(){
                        $.ajax({
                            url: "/app/cidades",
                            type: 'GET',
                            contentType: 'application/json',
                            success: function(dataset) {
                                var selectCidades = $("#idCidade");
                                selectCidades.find("option").remove();
                                $('<option>').val('Cidade').text('Cidade').appendTo(selectCidades);
                                $.each(dataset, function(chave, valor) {
                                    $('<option>').val(valor.id).text(valor.nome).appendTo(selectCidades);
                                })
                            }
                        });
                    });                    
                </script>
            </select>
            <input type="text" id="kilometragem" name="kilometragem" placeholder="Kilometragem" class="form-control mt-2"/>
            <select class="custom-select my-1 mr-sm-2 mt-2" id="tipo" name="tipo">
                <option value="1">Tipo</option>                
                <option value="1">Novo</option>
                <option value="1">Seminovo</option>
            </select>
            <br/>
            <br/>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>
<div class="card mt-3">
    <div class="card-body">
        <table id="tbVeiculos" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Ano</th>
                <th scope="col">Cor</th>
                <th scope="col">Motor</th>
                <th scope="col">Combústivel</th>
                <th scope="col">Kilometragem</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
        <br/>
        <a href="/admin"><button type="button" class="btn btn-secondary">Voltar</button></a>
    </div>
</div>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script>
            $.ajax({
                url: "/app/veiculos",
                type: 'GET',
                contentType: 'application/json',
                success: function(dataset) {
                    console.log(JSON.stringify(dataset));
                    $('#tbVeiculos').DataTable({
                        data: dataset,
                        "columns": [    
                            { "data": "id" },
                            { "data": "ano" },
                            { "data": "cor" },
                            { "data": "motor" },
                            { "data": "combustivel" },
                            { "data": "kilometragem" },
                            { "data": "tipo" }                                                                                                                                            
                        ]
                    });
                }
            });
    </script>