<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container mt-4">
    <div id="dlogo" class="logo">
        <img src="logosearchcar.jpg" width="248" height="160"/>
    </div>
</div>
<br/>
<form action="/pesquisa" method="POST"></form>
    <div class="container mt-4">
        <div id="dPesquisa" class="form-row">
            <div class="form-group col-md-8">
                <input type="text" id="txtPesquisa" placeholder="Pesquisar Veículo" class="form-control"/>
            </div>
            <div class="form-group col-md-2">
                <button type="submit" id="btPesquisa" class="btn btn-success btn-lg form-control">Pesquisar</button>
            </div>
        </div>
    </div>
    <footer class="text-muted text-center mt-4">
        Desenvolvido para apresentação do trabalho de final do curso de TADS</br>
        Faculdade Pitágoras - Belo Horizonte/MG - Brazil</br>
        Todos os Direitos Reservados &copy; 2020
    </footer>
</form>